body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
	padding-top: 80px;
	background-image: url('https://www.telemadrid.es/2022/08/04/noticias/cultura/_2475062569_34902378_1300x731.jpg');
}

.btn {
	background-color: rgb(129, 67, 67);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1.2em;
	position: absolute;
	bottom: 40px;
}

h1 {
	font-size: 2.3em;
    line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}


h2 {
	font-size: 1.8em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: bold;
}

h3 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
}

h4 {
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
	font-weight: bold;
}

h5 {
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: left;
	font-weight: 300;
	font-weight: bold;
}

h6 {
	color: rgb(206, 143, 28);
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
	font-weight: bold;
}

p {
	margin: 0 0 1.5em 0;
}

#img1 {
	max-width: 100%;
	height: auto;
}

#img2 {
	max-width: 55%;
	height: auto;
}

#img3 {
	max-width: 40%;
	height: auto;
}

.forma {
	padding: 0 20px 0 0;
	float: left;
}

.forma2 {
	padding: 0 0 0 20px;
	float: right;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}
/************
//-------------------------------
// CABECERA
//-------------------------------
************/
#main-header {
	background: #333;
	color: white;
	height: 80px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}
#main-header a {
	color: white;
}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 110px;
	text-decoration: none;
    text-transform: uppercase;
}
#logo-header:hover {
	color: #0b76a6;
}

#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}


/*
 * Navegación
 */
nav {
	float: right;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 20px;
}

nav ul li a {
	display: block;
	padding: 10px 10px;
}

nav ul li a:hover {
	background: #0b76a6;
}




/************
//------------------------------
// CONTENIDO
//------------------------------
************/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px;
}

.correoypassword{
	text-align: center;
}
#main-content header,
#main-content .content {
	padding: 20px;
}

.contenido_agradecimientos {
	padding: 20px;
}

#main_contenido_agradecimientos h1  {
	color: whitesmoke
}

#main_contenido_agradecimientos h6 {
	color: white;
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

.padre h5 {
	color: rgb(206, 143, 28);
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
	font-weight: bold;
}

/************
//-----------------------------
// PIE PÁGINA
//-----------------------------
************/
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

#main-footer p {
	margin: 0;
}